* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color-1: #ffffff ;
  --bg-color-2: #f0f6f9;
  --bg-color-3: #355592;
  --bg-color-4: #f3f1f1;
  --bg-color-5: #6990d8;
  --font-color-1: #ffffff;
  --font-color-2:#151515;
  --font-color-3:#303030;
  --font-color-4: #355592;
  --font-color-5:#585454;
  --btn-color-1: #355592;
  --btn-color-2: #f39c12;
  --btn-border: #ffffff;
  --btn-border-2: #585454;
}

a, 
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
  color: var(--font-color-1);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section,
span,
p {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 28px 0;
}

.container .header-border::after {
  content: "";
  position: absolute; 
  bottom: 0;
  left: 50%;
  width: 40%; 
  transform: translateX(-50%);
  border-bottom: 8px solid var(--btn-color-2);
  border-radius: 8px;
  bottom: -16px;
}

.common-p {
  color: var(--font-color-5);
  font-weight: 600;
  font-size: 16px;
  width: 70%;
  margin: 52px auto;
}


@media (max-width: 576px) {
  .container {
      max-width: 90%;
  }
}   




/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
